<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>首页详情</title>
    <link rel="stylesheet" type="text/css" href="/statics/admin/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/statics/admin/css/admin.css"/>
    <link rel="stylesheet" type="text/css" href="/statics/editor/wangEditor.min.css"/>
</head>

<body>
<div class="page-content-wrap clearfix">
    <form class="layui-form">
        <div class="layui-tab">
            <ul class="layui-tab-title">
                <li><a href="/admin/home">首页列表</a></li>
                <li class="layui-this">添加首页信息</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item"></div>
                <div class="layui-tab-item layui-show">
                    <div class="layui-form-item">
                        <label class="layui-form-label">标题：</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" required lay-verify="required" placeholder="请输入文章标题"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">副标题：</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" required lay-verify="required" placeholder="请输入文章副标题"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <!--<div class="layui-form-item">
                        <label class="layui-form-label">选择类型：</label>
                        <div class="layui-input-block">
                            <select name="category" lay-verify="required">
                                <option value="">请选择类型</option>
                                <option value="1">案例</option>
                                <option value="2">文章</option>
                                <option value="2">财产</option>
                            </select>
                        </div>
                    </div>-->

                    <div class="layui-form-item">
                        <label class="layui-form-label">文章内容：</label>
                        <div class="layui-input-block">
                            <div style="z-index: -100000" id="editor"></div>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">

                </div>
            </div>
        </div>
        <div class="layui-form-item" style="padding-left: 10px;">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" type="button" id="preview">预览</button>
                <button class="layui-btn layui-btn-normal" type="submit" lay-submit lay-filter="formDemo">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script src="/statics/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="/statics/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="/statics/editor/wangEditor.min.js" type="text/javascript" charset="utf-8"></script>
<script>



    layui.use(['form', 'jquery', 'laydate', 'layer', 'laypage', 'dialog', 'element', 'upload', 'layedit'], function () {
        var form = layui.form(),
            layer = layui.layer,
            $ = layui.jquery,
            laypage = layui.laypage,
            laydate = layui.laydate,
            layedit = layui.layedit,
            element = layui.element(),
            dialog = layui.dialog;

        var E = window.wangEditor
        var editor = new E('#editor')
        editor.customConfig.uploadImgShowBase64 = true

        editor.create()

        //获取当前iframe的name值
        var iframeObj = $(window.frameElement).attr('name');

        //全选
        form.on('checkbox(allChoose)', function (data) {
            var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
            child.each(function (index, item) {
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });
        form.render();

        $("#preview").click(function () {
            parent.layer.open({
                type: 1,
                title: '预览',
                content: editor.txt.html(),
                area:['100%','100%']
            })
        })

    });
</script>
</body>

</html>
