<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>后台登录</title>
    <link rel="stylesheet" type="text/css" href="/statics/admin/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/statics/admin/css/login.css"/>
</head>

<body>
<div class="m-login-bg">
    <div class="m-login">
        <h3>后台系统登录</h3>
        <div class="m-login-warp">
            <form class="layui-form" th:action="'/user/auth'" method="post">
                <div class="layui-form-item">
                    <input type="text" name="username" required placeholder="用户名" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input type="password" name="password" required placeholder="密码"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <input type="text" name="pic_code" required lay-verify="required" placeholder="验证码"
                               autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <img class="verifyImg" id="pc_code" onclick="changePictureCode()"
                             src="/admin/picture_code" title="点击刷新"/>
                    </div>
                </div>
                <div class="layui-form-item m-login-btn">
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="login">登录</button>
                    </div>
                    <div class="layui-inline">
                        <button type="reset" class="layui-btn layui-btn-primary">取消</button>
                    </div>
                </div>
            </form>
        </div>
        <p class="copyright">Copyright 2015-2016 by XIAODU</p>
    </div>
</div>
<script src="/statics/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script>

    // 解决 session 过期，登录页内嵌在iframe 中
    if (window != top) {
        top.location.href = location.href;
    }

    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form(), $ = layui.jquery,
            layer = layui.layer;


        //自定义验证规则
        form.verify({
            username: function (value) {
                if (value.length < 4) {
                    return '标题至少得5个字符';
                }
            },
            password: [/(.+){6,12}$/, '密码必须6到12位'],
            pic_code: [/(.+){4}$/, '验证码必须是4位'],

        });


        //监听提交
        form.on('submit(login)', function (data) {

            $.ajax({
                data: data,
                type: "post",
                url: "/user/auth",
                success: function (data) {
                    window.location.href = "/admin";
                },
                error: function (err) {
                    layer.alert(err)
                }
            });

            /*layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })*/
            //return false;
        });

    });


    function changePictureCode() {
        var img = document.getElementById("pc_code");
        img.setAttribute("src", "/admin/picture_code?time=" + new Date().getTime())
    }


</script>
</body>

</html>
