<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>贵州高浩律师事务所</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Realist Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="/statics/front/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/statics/front/js/jquery-1.11.1.min.js"></script>
    <!-- Custom Theme files -->
    <link href="/statics/front/css/style.css" rel='stylesheet' type='text/css'/>
    <link href='#css?family=Grand+Hotel:400' rel='stylesheet' type='text/css'>
    <link href='#css?family=Roboto' rel='stylesheet:100,300,400,500,600,700,800,900' type='text/css'>
    <link rel="shortcut icon" href="/statics/favicon.ico" />
    <!-- Menu -->
    <!----font-Awesome----->
    <link rel="stylesheet" href="/statics/front/fonts/css/font-awesome.min.css">
    <!----font-Awesome----->
</head>

<body>
<div class="header">
    <div class="col-xs-4">
        <div class="logo">
            <a href="index.html"><img src="/statics/front/images/logo.png" alt=""/></a>
        </div>
    </div>
    <div class="col-xs-8 header_right">
        <span class="menu"></span>
        <div class="top-menu">
            <ul>
                <li><a href="/"><i class="fa fa-">首页</i>Home</a></li>
                <li><a href="/services"><i class="fa fa-">服务领域</i>Practice Areas</a></li>
                <li><a href="/team"><i class="fa fa-">专业团队</i>Professional team</a></li>
                <li><a class="active scroll" href="/about"><i class="fa fa-">关于我们</i> About us</a></li>
                <li><a href="/contact"><i class="fa fa-">联系我们</i>Contact us</a></li>
                <div class="clearfix"></div>
            </ul>
        </div>
        <!-- script for menu -->
        <script>
            $("span.menu").click(function () {
                $(".top-menu").slideToggle("slow", function () {
                    // Animation complete.
                });
            });
        </script>
        <!-- script for menu -->
    </div>
    <div class="clearfix"></div>
</div>
<div class="about_top">
    <div class="container">
        <div class="about">
            <div class="col-md-12">
                <div class="section_group">
                    <div class="col_1_of_2 span_1_of_2">
                        <img th:src="${abs.image}" class="img-responsive" alt=""/>
                    </div>

                    <div class="col_1_of_2 span_1_of_2 span_1_of_21">
                        <h3 th:text="${abs.title}"></h3>
                        <p th:text="${abs.description}"></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="about_grid1" th:utext="${abs.content}">

            <div class="clearfix"></div>
        </div>


        <div class="copy" style="margin-top:20px;">
            <p>Copyright &copy; 2019-2020 贵州高浩律师事务所</p>
        </div>
    </div>
</div>
</body>

</html>
