<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{commons/header::header(~{::title},~{},~{},~{})}">
    <title>贵州高浩律师事务所</title>
</head>

<body>
<div  th:replace="~{commons/nav::nav(about)}">
</div>
<div class="about_top">
    <div class="container">
        <div class="about">
            <div class="col-md-12">
                <div class="section_group">
                    <div class="col_1_of_2 span_1_of_2">
                        <img th:src="${abs.image}" class="img-responsive" alt=""/>
                    </div>

                    <div class="col_1_of_2 span_1_of_2 span_1_of_21">
                        <h3 th:text="${abs.title}"></h3>
                        <p th:text="${abs.description}"></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="about_grid1" th:utext="${abs.content}">

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div th:replace="~{commons/footer::footer}"></div>
</body>

</html>
