<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{commons/header::header(~{::title},~{},~{},~{})}">
    <title>贵州高浩律师事务所</title>
</head>
<body>
<div  th:replace="~{commons/nav::nav(team)}">

</div>
<div class="about_top">
    <div class="container">
        <div class="about_grid2">
            <h3>&nbsp;团队
                <small>team</small>
            </h3>
            <div class="col-md-3 about_box2">
                <img src="/statics/front/images/ltg.jpg" class="img-responsive" alt=""/>
                <h3>罗天高律师</h3>
                <p>
                    擅长：擅长刑事辩护案件、合同纠纷、离婚纠纷、破产案件等。<br/>
                    格言：雪莲，开放在冰雪之间才显得壮观，骏马，奔驰在千里草原才显得雄健。偌大世界，没有延缓任何力量能使探索者屈服，律师的执业生涯，再次证明了这个真谛。他们执着的敬业精神，一直在感染着我，促使我终于拿起笔来，写一曲赞美律师的颂歌。
                </p>
            </div>
            <div class="col-md-3 about_box2">
                <img src="/statics/front/images/tl.jpg" class="img-responsive" alt=""/>
                <h3>荀 娅律师</h3>
                <p>
                    擅长：民间借贷案件、仲裁案件、工伤案件、非诉调解等案件。<br/>
                    格言：律师是理性的思考者，是法律的忠实信徒和膜拜者；不热爱法律的法官，肯定不是一个好律师；把法律当作贪婪的私欲工具，必将受到法律的严惩；高高在上的法官远离了法律亲近民众的本源，人们将远离他；而情系百姓、爱民如己的律师，必将为人称赞。
                </p>
            </div>
            <div class="col-md-3 about_box2">
                <img src="/statics/front/images/xy.jpg" class="img-responsive" alt=""/>
                <h3>田 丽律师</h3>
                <p>
                    擅长：工伤案件、交通事故案件、离婚案件等。<br/>
                    格言：在庄严的法庭之上，在激烈的谈判桌前，在居民社区的调解室里，有这样一群人，他们是法律的骄子，为了法治和平，为了安宁，法律是我们的武器，法庭是我们的战场，公正是我们的信念，和谐是我们的理想，为了理想能够得到实现，为了真理能够得到捍卫。
                </p>
            </div>
            <div class="col-md-3 about_box2">
                <img src="/statics/front/images/zxs.jpg" class="img-responsive" alt=""/>
                <h3>周兴宿律师</h3>
                <p>
                    擅长：擅长刑事辩护案件、工伤案件等。<br/>
                    格言：你戴着荆棘的皇冠而来，你握着正义的宝剑而来。律师，神圣之门、又是地狱之门。但你视一切险阻**为无物。你的格言：在法律面前人人平等，惟有客观事实才有最高的权威。律师之门，是神圣之门，是正义之门。
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div th:replace="~{commons/footer::footer}"></div>
</body>
</html>		
