<!DOCTYPE HTML>
<html>
<head>
    <title>贵州高浩律师事务所</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Realist Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href="/statics/front/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/statics/front/js/jquery-1.11.1.min.js"></script>
    <!-- Custom Theme files -->
    <link href="/statics/front/css/style.css" rel='stylesheet' type='text/css'/>
    <link href='#css?family=Grand+Hotel:400' rel='stylesheet' type='text/css'>
    <link href='#css?family=Roboto' rel='stylesheet:100,300,400,500,600,700,800,900' type='text/css'>
    <!-- Menu -->
    <!----font-Awesome----->
    <link rel="stylesheet" href="/statics/front/fonts/css/font-awesome.min.css">
    <!----font-Awesome----->
    <script type="text/javascript" src="js/jquery.fancybox.js"></script>
    <link rel="stylesheet" type="text/css" href="/statics/front/css/jquery.fancybox.css" media="screen"/>
    <link rel="shortcut icon" href=" /statics/favicon.ico"/>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.fancybox').fancybox();
        });
    </script>
</head>
<body>
<div class="header">
    <div class="col-xs-4">
        <div class="logo">
            <a href="index.html"><img src="/statics/front/images/logo.png" alt=""/></a>
        </div>
    </div>
    <div class="col-xs-8 header_right">
        <span class="menu"></span>
        <div class="top-menu">
            <ul>
                <li><a href="/"><i class="fa fa-">首页</i>Home</a></li>
                <li><a class="active scroll" href="/services"><i class="fa fa-">服务领域</i>Practice Areas</a></li>
                <li><a href="/team"><i class="fa fa-">专业团队</i>Professional team</a></li>
                <li><a href="/about"><i class="fa fa-">关于我们</i> About us</a></li>
                <li><a href="/contact"><i class="fa fa-">联系我们</i>Contact us</a></li>
                <div class="clearfix"></div>
            </ul>
        </div>
        <!-- script for menu -->
        <script>
            $("span.menu").click(function () {
                $(".top-menu").slideToggle("slow", function () {
                    // Animation complete.
                });
            });
        </script>
        <!-- script for menu -->
    </div>
    <div class="clearfix"></div>
</div>
<div class="about_top">
    <div class="container">
        <div class="about">
            <div class="service_grid">
                <div class="col-md-3 service_box">
                    <a class="fancybox" href="/statics/front/images/s1.jpg" data-fancybox-group="gallery" title="Product Name"><img
                            src="/statics/front/images/s1.jpg" class="img-responsive" alt=""/></a>
                    <p>保险合同是投保人与保险人之间设立、变更或终止保险法律关系的民事法律行为。</p>
                </div>
                <div class="col-md-3 service_box">
                    <a class="fancybox" href="/statics/front/images/s2.jpg" data-fancybox-group="gallery" title="Product Name"><img
                            src="/statics/front/images/s2.jpg" class="img-responsive" alt=""/></a>
                    <p>因各种金钱借贷偿还关系问题，引发的矛盾的发生。</p>
                </div>
                <div class="col-md-3 service_box">
                    <a class="fancybox" href="/statics/front/images/s3.jpg" data-fancybox-group="gallery" title="Product Name"><img
                            src="/statics/front/images/s3.jpg" class="img-responsive" alt=""/></a>
                    <p>劳动关系的当事人之间因执行劳动法律、法规和履行劳动合同而发生的纠纷。</p>
                </div>
                <div class="col-md-3 service_box">
                    <a class="fancybox" href="/statics/front/images/s4.jpg" data-fancybox-group="gallery" title="Product Name"><img
                            src="/statics/front/images/s4.jpg" class="img-responsive" alt=""/></a>
                    <p>财政法与税法的总称。在学术上常常把财政法与税法统称为财税法。财政法是调整国家财政收支关系的法律规范的总称。</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="service_grid">
                <div class="col-md-3 service_box">
                    <h3>人身损害</h3>
                    <p>人身损害赔偿包括身体伤害,精神损害,残疾甚至死亡所做的赔偿。</p>
                </div>
                <div class="col-md-3 service_box">
                    <h3>拆迁征收</h3>
                    <p>通常是政府城建部门在摸底立项的基础上对居民百姓居住房屋的土地使用权的有偿回收。</p>
                </div>
                <div class="col-md-3 service_box">
                    <h3>商事合同</h3>
                    <p>合同是指平等主体的自然人、法人、其他组织之间设立、变更终止民事权利义务关系的协议。</p>
                </div>
                <div class="col-md-3 service_box">
                    <h3>婚姻家庭</h3>
                    <p>指调整婚姻家庭法关系的法律，此类法律有不同的名称，其涵义也不尽相同。</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="service_grid1">
                <div class="col-md-3 service_box">
                    <h3>房地产建筑工程</h3>
                    <p>业务涵盖基础设施建设、房地产投融资、并购及物业租赁等建筑工程及商业地产交易的所有环节。</p>
                </div>
                <div class="col-md-3 service_box">
                    <h3>知识产权</h3>
                    <p>指“权利人对其智力劳动所创作的成果和经营活动中的标记、信誉所依法享有的专有权利”，一般只在有限时间内有效。</p>
                </div>
                <div class="col-md-3 service_box">
                    <h3>投融资及并购</h3>
                    <p>何企业要进行生产经营活动都需要有适量的资金，而通过各种途径和相应手段取得这些资金的过程称之为融资。</p>
                </div>
                <div class="col-md-3 service_box">
                    <h3>刑事辩护</h3>
                    <p>刑事辩护作为司法制度的一项重要内容，作为刑事诉讼制度的重要组成部分。</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="grid_4">
            <div class="col-md-12 grid_6" style="text-align:center;">
                以上是我们法律法务的
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="copy" style="margin-top:20px;">
            <p>Copyright &copy; 2019-2020 贵州高浩律师事务所</p>
        </div>
    </div>
</div>
</body>
</html>		