<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="nav(item)" class="header">
    <div >
        <div class="col-xs-4">
            <div class="logo">
                <a th:href="@{/}"><img src="/statics/front/images/logo.png" alt=""/></a>
            </div>
        </div>
        <div class="col-xs-8 header_right">
            <span class="menu"></span>
            <div class="top-menu">
                <ul>
                    <li><a th:class="${item=='index'}?'active':''" href="/"><i class="fa fa-">首页</i>Home</a></li>
                    <li><a th:class="${item=='services'}?'active':''" href="/services"><i class="fa fa-">服务领域</i>Practice Areas</a></li>
                    <li><a th:class="${item=='team'}?'active':''" href="/team"><i class="fa fa-">专业团队</i>Professional team</a></li>
                    <li><a th:class="${item=='about'}?'active':''" href="/about"><i class="fa fa-">关于我们</i> About us</a></li>
                    <li><a th:class="${item=='contact'}?'active':''" href="/contact"><i class="fa fa-">联系我们</i>Contact us</a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <script>
                $("span.menu").click(function () {
                    $(".top-menu").slideToggle("slow", function () {
                    });
                });
            </script>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
